<div align="center">
  
  <% flash.each do |key, value| %>
    <div class="alert-message <%= key %>" data-alert>
      <a href="#" class="close">x</a>
      <p><strong><%= value %></strong></p>
    </div>
  <% end %>
  
  </br></br>
  <div id="login">
    <h2>Signup with Facebook</h2></br>
    <%= link_to '', user_omniauth_authorize_path(:facebook), { :class => 'icon facebook', :id => 'fb' } %>
  </div>  
  
  </br></br>    
  <div id="upload">
    <h3>Upload an image</h3>
    <%= render 'shared/new_image'%>
  </div>
    
  </br></br>
  <div id="images-show">
    <%= render 'shared/show_image' %>
  </div>  

    
  <div id="friend-box">
    <img src="/assets/close.png" id="close"/>
    <div id="friends">
    </div> 
  </div>  
    
</div>

